<app-cabecalho />
<button mat-mini-fab class="botao-voltar"(click)= "retornarInicio()" matTooltip="Ir para a página anterior" color="primary"aria-label="Botão para voltar ao início">
        <mat-icon>arrow_back</mat-icon>
      </button>

<section class="secao-cadastro">
    <div class="informacoes-iniciais-cadastro">
        <h1 class="titulo-novo-usuario">Criar Novo Usuário</h1>
        <h2 class="subtitulo-novo-usuario">Dados do Usuário</h2>
    </div>
    <app-criar-usuario> </app-criar-usuario>
</section>