.informacoes-iniciais-edicao{
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 20px;

}

.secao-edicao{
 
    border: 1px solid #999;
    border-radius: 8px;
    background-color: #f9f9f9b0;
    
    padding: 40px;

    max-width: 900px;
    width: 90%;
    margin: 40px auto; /* O 'auto' nas laterais centraliza o bloco horizontalmente */

    display: flex;
    flex-direction: column;
    gap: 20px
}

.botao-voltar{
    /* max-width: 900px; */
    /* margin: 20px auto;
    display: flex;
    justify-content: flex-start;
    padding: 0 40px; */
    display: block;
    margin-top: 30px;  /* Empurra para baixo */
    margin-left: 10%;
}