<app-cabecalho></app-cabecalho>
<button mat-mini-fab class="botao-voltar"(click)= "retornarInicio()" matTooltip="Ir para a página anterior" color="primary"aria-label="Botão para voltar ao início">
        <mat-icon>arrow_back</mat-icon>
      </button>

<section class="secao-edicao">
    <div class="informacoes-iniciais-edicao">
        <h1 class="titulo-editar-usuario">Editar Usuário</h1>
        <h2 class="subtitulo-editar-usuario">Dados do Usuário</h2>
    </div>
    <app-formulario-usuario [usuario] = "usuario" (submitForm)="editarUsuario($event)" />
</section>