<section [ngClass]="usuario().id">
    <div class = informacoes-usuario>
        <span class="coluna-nome">{{usuario().nome}}</span>
        <span class="coluna-email">{{usuario().email}}</span>
        <app-botao-padronizado 
            [rota]="['/edicao', usuario().id]" [usuario]="usuario()"
        tipoDeBotao="secundario" texto="Editar" icone="edit"/>
        <!-- <button matIconButton aria-label="Botão de editar usuário">
            <mat-icon>edit</mat-icon>
        </button> -->
        <!-- <button 
            mat-icon-button 
            [routerLink]="['/edicao', usuario().id]"
            [state]="{usuario:usuario()}"
            aria-label="Botão de editar usuário">
            <mat-icon>edit</mat-icon>
        </button> -->
        <app-botao-padronizado 
        (click) = "excluir()" [rota]="[]"
        tipoDeBotao="secundario" texto="Excluir" icone="delete"/>
    </div>
</section>