<div class="tela-criacao">
    <h1 class="texto-inicial-formulario">Criar novo Usuário</h1>
    <main class="form-wrapper">
        <form (ngSubmit)="aoSubmeter()" class="form" ngNativeValidate>
            <h2 class="titulo">Dados do Usuário</h2>
            <div class="campos">
                <label  class="campo-grupo">
                    Nome
                    <div class="input-wrapper">
                        <input [(ngModel)] = "nomeUsuario" type="text" class="input-nome" name = "nome" required>
                    </div>
                </label>

                <label class="campo-grupo">
                    E-mail
                    <div class="input-wrapper">
                        <input [(ngModel)] = "emailUsuario" type="text" class="input-email" name = "email" required>
                    </div>
                </label>
                
            </div>
            <button class="botao-confirmar-criacao">Criar</button>
        </form>
    </main>
</div>