.container-principal-usuarios {
    /* background-color: blueviolet; */
    display: flex; /* transforma em flexbox, bom para alinhar */
    flex-direction: column; /*informa que os filhos vão ser empilhados, verticalmente */
    align-items: center; /* alinhar todos os filhos, verticalmente*/
    min-height: 70vh; /* altura mínima é 70% da altura da tela (view height)*/
}

.lista-usuarios-wrapper {
    background-color: rgb(196, 192, 192);
    max-width: 1000px; /* limitar a largura, bom em monitores grandes*/
    /* text-align: center; */
    border-radius: 8px; /* arredondar cantos da caixa*/
    overflow: hidden; /* se algo vazar das bordas, é cortado.*/
    /* align-items: center; */
    /* width: 50%; */
    /* display: flex; */
    border: 1px solid #292222;
    width: 100%;
    margin-top: 10px;
    margin: 0 auto

}

.coluna-nome, .coluna-email {
  flex: 1; /* Faz as colunas dividirem o espaço igualmente */
  font-family: var(--font-montserrat);
  font-size: large;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 10px;
}

.lista-scroll {
    height: 400px; /* definição de uma altura fixa*/
    overflow-y: auto; /* se ultrapassar os 400px da height, nabegador cria a barra de scroll*/
    
}


.cabecalho-lista-usuarios {
    display: flex; /* Faz os spans virarem colunas flexíveis */
    padding: 16px; /* O mesmo padding usado para alinhar verticalmente */
    font-weight: bold; /* negrito */ 
    border-bottom: 2px solid #077988; /* cria linha horizontal cinza, separando o cabecalho */
    padding-right: 220px;   
}

mat-divider {
  border-top-color: #141414 !important;
}