.barra-pesquisa-nome {
    width: 100%;           /* Ele tenta crescer... */
    max-width: 600px;      /* ...mas para aqui para não ficar gigante */
    padding: 12px;
    border: 1px solid #757575;
    background-color: #f0f0f0;
    
}

.barra-pesquisa-wrapper {
    /* background-color: ; */
    width: 30vw;
    max-width: 800px;
}